.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 64px 48px;
  gap: 24px;
}
.functions{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  --s: 200px; /* control the size */
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577); 
  
}
.functionSection{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;
  gap: 16px;
  border-radius: 6px;
  padding: 16px;
  background-color: white;
}
.functionTitle{
  font-size: 24px;
  color:  black;
  font-weight: bolder;
  line-height: 32px;
}
.functionDescription{
  font-size: 16px;
  color:  black;
  
}
.title {
  width: 100%;
  font-size: 32px;
  color: black;
}

.filters {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}


.searchBarContainer {
  flex: 1; 
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
  
}