.container {
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}


.message {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px; 
  width: 100%;
}


.buttonAdd {
  padding: 10px 20px;
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px 0;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.buttonAdd:hover {
  outline: 2px solid #ccc; /* Añadimos un outline sin afectar el tamaño */
}


.backButton{
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  border: solid #254567 2px;
  transition: all 0.3s ease-in-out;
}

.buttonClose {
  padding: 12px 0px;
  transition: color 0.1s ease;
}
.buttonClose:hover{
  color: black;
}