.formContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 32px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.header {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}
.inputsContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textAreaGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #333;
}

.input, .select, .textArea {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.input:focus, .select:focus, .textArea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.textArea {
  resize: none;
  min-height: 100px;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 16px;
}
.secondaryButton {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: #254567; /* Mismo color de fondo del botón primario */
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background-color: transparent; /* Fondo transparente */
  border: 1px solid #254567; /* Borde del color primario */
}

.secondaryButton:hover {
  background-color: rgba(37, 69, 103, 0.15); /* Fondo del color primario */
}

.imagePreview {
  margin-top: 1rem;
  text-align: center;
}

.previewImage {
  max-width: 120px;
  max-height: 120px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
}
