/* From Uiverse.io by satyamchaudharydev */ 
.button {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
  padding: 6px 12px;
  background-color: #254567;
  border-radius: 4px;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  border: 2px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin: 4px;
}
.text{
  font-size: 16px;
}
.button:hover {
  border-color: #fff9;
}

.button:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.button::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
