.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selectors {
  display: flex;
  gap: 16px; /* Espaciado entre los selects */
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  margin-bottom: 4px;
}

.select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
